apiVersion: v1
kind: Namespace
metadata:
 name: dev
 labels:
   app: spring-boot-app-dev

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: spring-boot-application-dev
  namespace: dev 
spec:
  replicas: 1
  selector:
    matchLabels:
     app: spring-boot-app-dev
  template:
    metadata:
     labels:
       app: spring-boot-app-dev
    spec:
     nodeSelector:
       "beta.kubernetes.io/os": linux
     containers: 
     - name: spring-boot-container
       image: sujal2308/spring-boot-java-web-service:1
       resources:
         requests:
           cpu: 100m
           memory: 128Mi
         limits:
           cpu: 250m
           memory: 256Mi
       ports:
       - containerPort: 8080

---

apiVersion: v1
kind: Service
metadata:
  name: dev-service
  namespace: dev
  labels:
    app: spring-boot-app-dev
spec:
  type: LoadBalancer
  ports:
  - port: 80
  selector:
    app: spring-boot-app-dev

---

